@model Diseño.Models.MetodologiaCuenta[]

@{
    ViewBag.Title = "Metodologias";
}

<h2>Metodologias predefinidas</h2>

<table class="table">
	<tr>
		<th>
			Nombre
		</th>
		<th>
            Declaracion
		</th>
		<th></th>
	</tr>


	@foreach (var item in Model[0].Metodologias)
	{
		if (item.Tipo == "Predefinido")
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Declaracion)
				</td>
				<td>
					@Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
					@Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
					@Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
				</td>
			</tr>
		}
	}

</table>


<h2>Metodologias definidas por el usuario</h2>

<p>
	@Html.ActionLink("Crear nueva metodologia", "Create")
</p>

<table class="table">
	<tr>
		<th>
			Nombre
		</th>
		<th>
            Declaracion
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model[0].Metodologias)
	{
		if (item.Tipo == "Definido")
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Declaracion)
				</td>
				<td>
					@Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
					@Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
					@Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
				</td>
			</tr>
		}
	}

</table>

<h2>Metodologias evaluadas en empresas</h2>

Elegir una o dos empresas
@using (Html.BeginForm("Index", "Metodologias", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<select id="EmpresaSeleccionada" name="EmpresaSeleccionada">
		@foreach (var item in Model[0].Cuentas)
		{
			<option>@Html.DisplayFor(model => item.Empresa)</option>
		}
	</select>

	<select id="EmpresaSeleccionada2" name="EmpresaSeleccionada2">
		@foreach (var item in Model[0].Cuentas)
		{
			<option>@Html.DisplayFor(model => item.Empresa)</option>
		}
	</select>

	<select id="MetodologiaSeleccionada" name="MetodologiaSeleccionada">
		@foreach (var item in Model[0].Metodologias)
		{
			<option>@Html.DisplayFor(model => item.Nombre)</option>
		}
	</select>
	<input type="submit" value="Seleccionar" />

    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Valor
            </th>
            <th>
                Valor con Indicador
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model[1].Cuentas)
        {
           
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorEnIndicador)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                    </td>
                </tr> 
        }

    </table>



}

