@using Diseño.Models
@model Diseño.Models.TodasLasClases

@{
    ViewBag.Title = "Metodologias";
}

<h2>Metodologias</h2>

<p>
    @Html.ActionLink("Crear nueva metodologia", "Create")
</p>

<table class="table">
	<tr>
		<th>
			Nombre
		</th>
		<th>
            Formula
		</th>
        <th>
            Descripcion
        </th>
		<th></th>
	</tr>


	@foreach (var item in Model.Metodologias)
	{		
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Formula)
				</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
				<td>
					@Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
					@Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
					@Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
				</td>
			</tr>
	}

</table>

<h2>Metodologias evaluadas en empresas</h2>

Elegir una o dos empresas
@using (Html.BeginForm("Index", "Metodologias", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<select id="EmpresaSeleccionada" name="EmpresaSeleccionada">
        <option value="">Seleccione una empresa</option>
		@foreach (var item in Model.Empresas)
        {
            <option value="@item.ID">@Html.DisplayFor(model => item.Nombre)</option>
        }
	</select>

	<select id="EmpresaSeleccionada2" name="EmpresaSeleccionada2">
        <option value="">Seleccione una empresa</option>
		@foreach (var item in Model.Empresas)
        {
            <option value="@item.ID">@Html.DisplayFor(model => item.Nombre)</option>
        }
	</select>

	<select id="MetodologiaSeleccionada" name="MetodologiaSeleccionada">
        <option value="">Seleccione una metodologia</option>
		@foreach (var item in Model.Metodologias)
		{
			<option>@Html.DisplayFor(model => item.Nombre)</option>
		}
	</select>
	<input type="submit" value="Seleccionar" />

    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Empresa
            </th>
            <th>
                Fecha
            </th>
            <th>
                Valor
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Cuentas)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                </tr>
        }
    </table>
}

