@using Diseño.Models
@model Diseño.Models.IndicadorEmpresaCuentas

@{
    ViewBag.Title = "Indicadores";
}

<h2>Indicadores predefinidos</h2>

<table class="table">
    <tr>
        <th>
        Nombre
        </th>
        <th>
        Formula
        </th>
        <th>
        Descripcion
        </th>
        <th></th>
    </tr>

    
    @foreach (var item in Model.IndEmpresas.Indicadores)
    {     
        if (item.Tipo == "Predefinido") { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
        }
    }

</table>


<h2>Indicadores definidos por el usuario</h2>

<p>
    @Html.ActionLink("Crear nuevo indicador", "Create")
</p>

<table class="table">
    <tr>
        <th>
        Nombre
        </th>
        <th>
           Formula
        </th>
        <th>
            Descripcion
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.IndEmpresas.Indicadores)
    {
        if (item.Tipo != "Predefinido")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Formula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }

</table>

<h2>Indicadores evaluados con cuentas</h2>

Elegir cuenta
@using (Html.BeginForm("Index", "Indicadores", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <select id="EmpresaSeleccionada" name="EmpresaSeleccionada">
        @foreach (var item in Model.IndEmpresas.Empresas)
        {
            <option value="@item.ID">@Html.DisplayFor(model => item.Nombre)</option>
        }
    </select>

    <select id="IndicadorSeleccionado" name="IndicadorSeleccionado">
        @foreach (var item in Model.IndEmpresas.Indicadores)
        {
            <option>@Html.DisplayFor(model => item.Nombre)</option>
        }
    </select>
    <input type="date" name="FechaInicial"/>
    <input type="date" name="FechaFinal"/>
    <input type="submit" value="Seleccionar" />
 

    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Empresa
            </th>
            <th>
                Fecha
            </th>
            <th>
                Valor
            </th>
            <th>
                Valor Evaluado con indicador
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Cuentas)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        HACER
                    </td>
                </tr>
        }
    </table>
   
}    

