@using Diseño.Models
@model IEnumerable<Diseño.Models.Cuenta>[]


@{
    ViewBag.Title = "Cuentas";
}

<h2>Cuentas</h2>

<!--<p>
    @Html.ActionLink("Crear nueva cuenta", "Create")
</p>
    -->
<p>Cargar nueva cuenta en archivo .csv:</p>
<body>
    @using (Html.BeginForm("Index", "Cuentas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" required/>
        <br />
        <input type="submit" value="Importar" />
    }
</body>  

<br/><br />

<h3>Elegir empresa</h3>
    @using (Html.BeginForm("Index", "Cuentas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <select id="EmpresaSeleccionada" name="EmpresaSeleccionada">
            @foreach (var item in Model[0])
            {
                <option value="@item.Empresa.ID">@Html.DisplayFor(model => item.Empresa.Nombre)</option>
            }
        </select>
      <input type="submit" value="Seleccionar"/>
    }    


<table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Empresa
            </th>
            <th>
                Fecha
            </th>
            <th>
               Valor
            </th>
            <th>
                Acciones
            </th>
        </tr>
        @foreach (var item in Model[1])
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
                          }
</table>
