@using Diseño.Models
@model IEnumerable<Diseño.Models.Cuenta>

@{
    ViewBag.Title = "Cuentas";
}

<h2>Cuentas</h2>

<!--<p>
    @Html.ActionLink("Crear nueva cuenta", "Create")
</p>
    -->
<p>Cargar nueva cuenta en archivo .csv:</p>
<body>
    @using (Html.BeginForm("Index", "Cuentas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <br />
        <input type="submit" value="Importar" />
    }
    <!-- @if (Model.Count() > 0)
     {
         <hr />
         <table cellpadding="0" cellspacing="0">
             <tr>
                 <th>ID</th>
                 <th>Empresa</th>
                 <th>Fecha</th>
                 <th>Valor</th>
             </tr>
             @foreach (Cuenta cuenta in Model)
             {
                 <tr>
                     <td>@cuenta.ID</td>
                     <td>@cuenta.Empresa</td>
                     <td>@cuenta.Fecha</td>
                     <td>@cuenta.Valor</td>
                 </tr>
             }
         </table>
     }-->
</body>  


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<!--
<script>
   function LlamarJsonDelServidor(){
    $.ajax({
        type: "POST",
        traditional: true,
        async: false,
        cache: false,
        url: '@Url.Action("LlamarJson","Home")',
        context: document.body,
        data: { },
        success: function (result) {
            $("#resultado").html('');
            for (var i = 0; i < result.length; i++) {
                $("#resultado").append("<li> "+result[i].ID+ " " + result[i].Empresa + " " + result[i].Fecha + " " + result[i].Valor + " </li>");
            }
        },
        error: function (xhr) {
            //debugger;
            console.log(xhr.responseText);
            alert("Error has occurred..");
        }
    });
}
</script>
<input type="button" onclick="LlamarJsonDelServidor();" value="Llamar Json del Server" />
<div id="resultado"></div>
-->
