@using Diseño.Models
@model IEnumerable<Diseño.Models.Cuenta>


@{
    ViewBag.Title = "Cuentas";
}

<h2>Cuentas</h2>

<!--<p>
    @Html.ActionLink("Crear nueva cuenta", "Create")
</p>
    -->
<p>Cargar nueva cuenta en archivo .csv:</p>
<body>
    @using (Html.BeginForm("Index", "Cuentas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <br />
        <input type="submit" value="Importar" />
    }
</body>  

<br/>

<select class="select">
    @foreach (var item in Model)
    {
        <option>@Html.DisplayFor(model => item.IdEmpresa)</option> //Deberia ser el nombre de la empresa
        
    }
    
</select>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
            </tr>
                          }
</table>
